$font: "Georgia", serif

$alpha: #a085c6
$beta: #ede6d5
$gama: #fcd174

$above: "only screen and (min-width: 600px)"
$below: "only screen and (max-width: 600px)"
$small: "only screen and (max-width: 400px)"
